
<div class="share-buttons">
  <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url | url_encode }}" target="_blank" rel="noopener" title="Share on Twitter" class="no-mark-external">
    <span class="icon-twitter" aria-hidden="true"></span>
    <span class="sr-only">Share on Twitter</span>
  </a>
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url | append: page.url | url_encode }}" target="_blank" rel="noopener" title="Share on LinkedIn" class="no-mark-external">
    <span class="icon-linkedin2" aria-hidden="true"></span>
    <span class="sr-only">Share on LinkedIn</span>
  </a>
</div>

<style>
.share-buttons {
  margin-top: 30px;
  text-align: center;
}
.share-buttons a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  font-size: 24px;
  display: inline-block;
}
.share-buttons a:hover {
  color: #666;
}
.share-buttons [class^="icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
</style>
