
<div class="share-buttons">
  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" target="_blank" title="Share on Twitter" class="no-mark-external">
    <span class="icon-twitter"></span>
    <span class="sr-only">Share on Twitter</span>
  </a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url | append: page.url | url_encode }}&title={{ page.title | url_encode }}&summary={{ page.description | default: page.excerpt | strip_html | truncate: 300 | url_encode }}" target="_blank" title="Share on LinkedIn" class="no-mark-external">
    <span class="icon-linkedin2"></span>
    <span class="sr-only">Share on LinkedIn</span>
  </a>
</div>

<style>
.share-buttons {
  margin-top: 30px;
  text-align: center;
}
.share-buttons a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  font-size: 24px;
}
.share-buttons a:hover {
  color: #666;
}
.share-buttons .icon-twitter,
.share-buttons .icon-linkedin2 {
  font-family: 'icomoon' !important;
}
</style>
