
<div class="share-buttons">
  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
</div>

<style>
.share-buttons {
  margin-top: 30px;
  text-align: center;
}
.share-buttons a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
}
.share-buttons a:hover {
  color: #666;
}
</style>
