---
layout: base
---

{% assign posts = site.posts %}

<article class="page" role="article">
  {% if content contains "<!--more-->" %}
    {{ content | split:"<!--more-->" | first }}
    {% if content contains "<!--more-->" %}
      <hr class="dingbat"/>
    {% endif %}
  {% else %}
    {{ content }}
  {% endif %}

  {% assign no_link_title = page.no_link_title | default:site.hydejack.no_link_title %}
  {% assign no_excerpt = page.no_excerpt | default:site.hydejack.no_excerpt %}
  {% assign hide_image = page.hide_image | default:site.hydejack.hide_image %}

  <h2>Recent Posts</h2>
  <ul class="related-posts">
    {% for post in posts limit:3 %}
      {% include components/post-list-item.html post=post %}
    {% endfor %}
  </ul>

  <h2>All Posts</h2>
  {% for post in posts %}
    {% include components/post.html post=post no_link_title=no_link_title no_excerpt=no_excerpt hide_image=hide_image %}
  {% endfor %}
</article>
