<!DOCTYPE html>

<html>
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>
       {% if page.title %}
         {{ page.title }} //
       {% endif %}
       Kevin Trethewey
     </title>
     <meta name="author" content="Kevin Trethewey" />
     {% if page.summary %}
       <meta namne="description" content="{{ page.summary }}" />
     {% endif %}
     <link href="http://feeds2.feedburner.com/jqr" rel="alternate" title="Kevin Trethewey" type="application/atom+xml" />

     <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
     <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />

     {% for css in page.css %}
       <link rel="stylesheet" href="{{ css }}" type="text/css" />
     {% endfor %}
  </head>
  <body>
    <a href="http://github.com/kevint"><img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub" /></a>

    <div id="site">
      <a id="subscribe" href="http://feeds2.feedburner.com/jqr"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a>

      <div id="search_area" style="display: none">
        <label for="search" style="display: none">Search</label>
        <img src="http://www.famfamfam.com/lab/icons/silk/icons/cancel.png" alt="X"/>
        <input id="search" />
      </div>
      
      <h1><a href="/">Kevin Trethewey</a></h1>
      
      <div class="clear"></div>
      
      <div id="sidebar" class="vcard">
        <h3>Me</h3>
        <dl id="contact">
          <dt>Name</dt>
          <dd><a class="fn url" href="/">Kevin Trethewey</a> / <span class="nickname">kjt</span></dd>

          <dt>Email</dt>
          <dd class="email"><a href="mailto:kevint@drivensoftware.net">kevint@drivensoftware.net</a></dd>

          <dt>Telephone</dt>
          <dd class="tel">+27 (0) 82 579 9154</a></dd>
          
          <dt>Company</dt>
          <dd class="org"><a href="http://drivensoftware.com/">Driven Software</a></dd>
        </dl>
        <h3>And then some</h3>
        <ul id="profiles">
          <li><a href="http://twitter.com/kevintrethewey">Twitter</a></li>

          <li><a href="http://github.com/kevint">GitHub</a></li>

          <li><a href="http://www.linkedin.com/in/kevint">LinkedIn</a></li>
        </ul>
      </div>
      
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6/prototype.js"></script>
      
      <div id="content">
        {{ content }}
      </div>
      
      <div class="clear"></div>
      
    </div>

    {% for js in page.javascript %}
      <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}

    <script type="text/javascript">
    //<![CDATA[
    (function() {
    		var links = document.getElementsByTagName('a');
    		var query = '?';
    		for(var i = 0; i < links.length; i++) {
    			if(links[i].href.indexOf('#disqus_thread') >= 0) {
    				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    			}
    		}
        document.write('<script type="text/javascript" src="http://disqus.com/forums/jqr/get_num_replies.js' + query + '"></' + 'script>');
    	})();
    //]]>
    </script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-254246-10");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>
